.homeImg {
  display: flex;
  justify-content: center;
  width: 568px;
  height: 530px;
  border: none;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.imgHead {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 339px;
  height: 339px;
  margin-top: 80px;
}

@keyframes colorChangeMac {
  0%,
  100% {
    background: #d08f38;
  }
  20% {
    background: #183e49;
  }
  40% {
    background: #314b6e;
  }
  60% {
    background: #b03f3e;
  }
  80% {
    background: #e17650;
  }
}
.animateColorMac {
  animation: colorChangeMac 20s infinite;
}
.imgMac {
  width: 360px;
  height: 182px;
  border-radius: 7px 7px 0 0;
  background-color: #d08f38;
  position: absolute;
  bottom: 0%;
  animation: colorChangeMac 10s infinite;
}

@keyframes colorChangeLite {
  0%,
  100% {
    fill: var(--color2);
  }
  20% {
    fill: var(--color4);
  }
  40% {
    fill: var(--color6);
  }
  60% {
    fill: var(--color8);
  }
  80% {
    fill: var(--color10);
  }
}
.animateColorLite {
  animation: colorChangeLite 20s infinite;
}
.imgApple {
  width: 46px;
  height: 56px;
  fill: var(--color2);
  display: flex;
  margin: 65px auto;
  animation: colorChangeLite 10s infinite;
}

@media screen and (max-width: 767px) {
  .homeImg {
    display: flex;
    justify-content: center;
    max-width: 300px;
    height: 280px;
  }

  .imgHead {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    margin-top: 20px;
  }
  .imgMac {
    width: 220px;
    height: 100px;
  }
  .imgApple {
    width: 26px;
    height: 36px;
    margin: 35px auto;
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
}
