.registrationForm {
  display: block;
  flex-shrink: 0;
  background: var(--backgroundForm);
  font-family: Inter;
}
.regTitle {
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--text-color-main);
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}

.text {
  color: var(--text-color);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 32px;
}

.btn {
  font-family: Inter;
  width: 100%;
  height: 60px;
  padding: 16px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--color_normal); */
  margin-bottom: 16px;
  border: none;
  color: var(--white);
}
.btn:hover,
.btn:focus,
.btn:active {
  background-color: var(--color_hover);
  overhidden: none;
}

.fieldPosition {
  display: inherit;
  width: 100%;
  position: relative;
}
.fialdStyle {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 18px;
  margin-bottom: 32px;
}

.field {
  font-family: Inter;
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 15px;
  padding: 16px 18px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background-color: transparent;
  width: 100%;
  height: 56px;
}

.field:hover,
.field:focus,
.field:active {
  background-color: transparent;
  outline: none;
  border: 1px solid #85aa9f;
}
.errorField {
  border: 1px solid var(--border-color_error);
}

.successField {
  border: 1px solid var(--borderColor_success);
}
.switchPageBtn {
  color: rgba(18, 20, 23, 0.5);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.switchPageBtn:hover, .switchPageBtn:focus, .switchPageBtn:active{
  color: var(--text-color-main);
}

@media screen and (max-width: 767px) {
  .registrationForm {
    max-width: 375px;
    padding: 32px 16px 57px 16px;
    border-radius: 25px 25px 0px 0px;
  }
  .fialdStyle {
    row-gap: 14px;
  }
.regTitle{
  margin-bottom: 16px;
  font-size: 30px;
  line-height: 1.06;
}
.text{
  font-size: 16px;

}
.loginTxt{
  margin-bottom:40px;
}
.regTxt{
  margin-bottom:16px;
}
.btn {
  height: 56px;
  font-size: 16px;
}
}

@media screen and (min-width: 768px) {
  .registrationForm {
    width: 628px;
    padding: 48px 64px;
    border-radius: 30px;
  }
}
