.headCard {
  display: flex;
  flex-direction: row;
  font-family: var(--font-family);
  color: var(--text-color-main);
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 8px;
}

.hurt {
  fill: none;
  stroke: var(--text-color-main);
  display: inline;
  text-align: left;
}
.hurtButton {
  padding: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.hurtButton:hover {
  opacity: 0.8;
}

.favorite {
  fill: var(--color1);
  stroke: transparent;
}

.block {
  display: flex;
  flex-direction: row;
}

.list {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 4px 16px;
}
.list:not(:first-child) {
  border-left: 1px solid rgba(18, 20, 23, 0.2);
}

.book {
  color: var(--text-color-main);
  background: none;
  width: 16px;
}

.txt {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.price {
  color: #38cd3e;
}

.lang {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #8a8a89;
  margin-right: 176px;
}

.bigBlock {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .block {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .bigBlock {
  }
}

@media screen and (min-width: 1440px) {
  .bigBlock {
  }
}
