.photo {
  border: 1.155px solid rgba(89, 177, 122, 0.6);
  border-radius: 20px;
  background: url() lightgray 28px 20px / 83.582% 86.667% no-repeat, #f7f7f7;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  overflow: hidden;
}
.img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.altImg {
  width: 107px;
  height: 107px;
  display: flex;
}

.text {
  border-radius: 20px;
  background: var(--text-color-white);
  padding: 20px;
}
.pill {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 4px;
}
.namePrice {
  color: var(--text-color-main);
  font-size: 16px;
  font-weight: 600;
}
.namePrice:first-child {
  max-width: 140px;
  text-overflow: Ellipsis;
  overflow: hidden;
}
.category {
  color: var(--btn-text);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 17px;
}

@media screen and (min-width: 768px) {
  .card {
    width: 226px;
  }
}

@media screen and (min-width: 1440px) {
  .card {
    width: 280px;
  }
}
