.teachersContainer {
height: 100hv;
 background: #F8F8F8;

} 

.txtNoFound {
  margin: 20px auto;
  padding: 20px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  color: var(--text-color-main);
width: 400px;
}
