.detalBock {
  display: block;
  margin-bottom: 32px;
  color: var(--text-color-main);
}

.experience {
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.review {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.list {
  display: inline-flex;
  column-gap: 12px;
  margin-bottom: 16px;
}

.raiting {
  display: inline-flex;
  gap: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
}

.avatar {
  color: var(--text-color-main);
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #8a8a89;
}

.coment {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
