.coverPage {
  background: var(--fon);
  margin: 0 auto;
  font-family: Inter;
    overflow: hidden;
}
.headerLogin,
.coverHeader {
  margin: 0 auto 39px;
  padding: 25px 10px;
  display: block;
}
.coverMain,
.coverLogin {
  display: block;
  margin: 0 auto;
  padding: auto 10px;
  min-height: 50vh;
 
}

@media screen and (max-width: 374px) {
  .coverMain,
  .coverLogin {
    max-width: 355px;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .coverHeader,
  .headerLogin,
  .coverMain,
  .coverLogin {
    width: 355px;
  }
}

@media screen and (min-width: 768px) {
  .coverMain,
  .coverLogin {
    width: 724px;
  }
  .coverHeader,
  .headerLogin {
    padding: 28px 10px;
    margin-bottom: 52px;
    width: 724px;
  }
}
@media screen and (min-width: 1440px) {
  .coverMain {
    width: 1204px;  
  }
  .coverLogin{
    width: 1242px;  
  }
  .coverHeader {
    margin-bottom: 36px;
    width: 1204px;
  }
  .headerLogin{
   margin-bottom: 110px;
    width: 1252px; 

  }
}
