.cowerPage{
display: block;
margin: 0 auto;
background-color: var(--white-1);
}
.position{
margin: 0 auto;
}
.cowerTable{
width: 100%; 
}

.pagination{
  display: inline-flex;
  justify-content: center;
  width: 100%;
  margin: 28px auto 48px auto;

}
@media screen and (max-width: 767px) {
.position{
max-width: 375px;
padding: 32px 16px 48px 16px;
justify-content: center;
}
.cowerTable{
      padding:0;      
}
}

@media screen and (max-width: 374px) {
.position{
padding: 32px 8px 48px 8px;
}
}
@media screen and (min-width: 768px) {
.position{
width: 704px;
padding: 80px 0px 48px 0px;
}
.cowerTable{
  padding: 18px;  
  background-color: var(--fff);
  border-radius: 15px;
}
}
@media screen and (min-width: 1440px) {
.position{
width: 1240px;
}
}