.filtresBlock {
  display: inline-flex;
  margin-top: 96px;
  margin-left: 82px;
  column-gap: 20px;
  font-family: var(--font-family);
  background-color: transparent;
}

.fieldBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: transparent;
}

.filtrlable {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #8a8a89;
  background-color: transparent;
}
.filtrField {

  font-weight: 500;
  font-size: 18px;
  line-height: 1.11111;
  appearance: none;
  font-family: var(--font-family);
  border-radius: 14px;
}

.filtrField:hover,
.filtrField::fockus,
.filtrField:active {
  border: none;
}

.filtrFieldPadding {
  display: block;
  position: relative;
background: #F8F8F8;
}


.dollarSign {
  position: absolute;
  top: 14px;
  left: 35px;
  color: var(--text-color-main);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11111;
  z-index: 110;
}

@media screen and (max-width: 767px) {
  .filtresBlock {
    max-width: 300px;
    display: block;
    padding-left: 8px;
    padding-right: 8px;
    margin: 16px auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .filtresBlock {
    margin: 16px auto;
  }
}

@media screen and (min-width: 1440px) {
  .filtresBlock {
    margin-left: 82px;
  }
}

