.filtersBlock {
  display: flex;
  gap: 12px;
  align-items: flex-start;
  justify-content: center;
  font-family: Inter;
  margin: 40px auto;
}
.fieldPosition {
  position: relative;
  border-radius: 60px;
  border: 1px solid var(--btn-gray);
  background: var(--text-color-white);
  padding: 13px 18px;
  width: 100%;
  overflow: hidden;
}

.field {
  border: none;
  background: var(--text-color-white);
  padding: 0;
  width: 100%;
  color: var(--text-grey);
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}
.field:focus,
.field:active,
.field:hover {
  border: none;
  outline: none;
  color: var(--text-grey);
  background-color: var(--text-color-white);
}
.field:-webkit-autofill {
  -webkit-text-fill-color: var(--text-grey);
  -webkit-box-shadow: var(--text-color-white);
}
.field::placeholder {
    color: var(--text-grey); 
  opacity: 1;
    background-color: var(--text-color-white);
}
option:checked {
  background-color: var(--btn-green);
}
.imgField {
  size: 16px;
  color: var(--text-color-main);
  position: absolute;
  right: 19px;
  top: 15px;
  background-color: var(--text-color-white);
}
.iconBtn {
  size: 14px;
  color: var(--text-color-white);
  background-color: transparent;
  margin-right: 8px;
}
.filtersBtn{
color: #FFF;
font-family: Inter;
font-size: 14px;
font-weight: 500;
line-height: 1.3;
width: 116px;
height: 44px;
border-radius: 60px;
display: inline-flex;
justify-content: center;
align-items: center;
border: none;
background-color: var(--btn-green);
margin-left: 0;
}

.filtersBtn:focus,
.filtersBtn:active,
.filtersBtn:hover {
  background-color: var(--btn-green-hover);
}

@media screen and (max-width: 767px) {
  .filtersBlock {
    flex-direction: column;
    width: 100%;
  }

}
@media screen and (min-width: 768px) {
  .filtersBlock {
    flex-direction: row;  
    justify-content: left;  
    gap: 14px;
  }
   .fieldPosition:first-child {
    width: 214px; 
  }
    .fieldPosition:nth-child(2) {
    width: 224px;
  }
  .filtersBtn{
    margin-left: -6px;
  }
}
@media screen and (min-width: 1440px) {
  .filtersBlock {
    gap: 8px;
  }
  .filtersBtn{
    margin-left: 0;
  }
}
