:root {
  --font-family: Inter, sans-serif;
  --font-feature-settings: "liga" 1, "calt" 1;

  --btn-green: #59b17a;
  --btn-green-hover: #3f945f;
  --btn-green-light: rgba(89, 177, 122, 0.1);
  --fon: #f7f8fa;
  --btn-gray-hover: rgba(29, 30, 33, 0.25);
  --btn-gray: rgba(29, 30, 33, 0.1);
  --border-green: rgba(89, 177, 122, 0.5);
  --text-color-main: #1d1e21;
  --txt-fon: #93939a;
  --text-color-white: #fff;
  --text-grey:rgba(29, 30, 33, 0.40);
  --btn-text: rgba(29, 30, 33, 0.60);
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

button:hover,
button:focus {
  animation: none;
  outline: none;
  border: none;
}
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}
body {
  margin: 0 auto;
}
