.list {
  display: flex;
  flex-direction: column;
  border: none;
  row-gap: 32px;
  list-style: none;
  margin-bottom: 40px;
  margin-top: 81px;
  font-family: var(--font-family);
  color: var(--text-color-main);
  background-color: transparent;
}

.button {
  font-family: var(--font-family);
}

.button:hover {
  background: var(--button-hover);
}

.card {
  display: flex;
  border: none;
  border-radius: 24px;
  background: var(--text-color-white);
  position: relative;
}
.avatarWraper {
  border-radius: 50%;
  border: 3px solid #fbe9ba;
  position: relative;
  width: 120px;
  height: 120px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-right: 48px;
}

.avatar {
  border-radius: 50%;
}

.pointPhoto {
  position: absolute;
  top: 18px;
  right: 18px;
}
.teacherName {
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  margin-bottom: 32px;
}

.teachersInfo {
  display: flex;
  flex-direction: column;
  column-gap: 8px;
  margin-bottom: 16px;
}

.info {
  display: flex;
  flex-direction: column;
  width: 968px;
  justify-content: left;
}

.leanguage {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.langInfo {
  display: inline-flex;
}
.nameInfo {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #8a8a89;
  text-decoration: none;
}
.description {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.buttonMore {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--text-color-main);
  margin-bottom: 32px;
  margin-left: 0;
  margin-right: auto;
  background: none;
  border: none;
  display: block;
}

@media screen and (max-width: 767px) {
  .fullPage {
    display: block;
    max-width: 320px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .card {
    flex-direction: column;
    padding: 10px;
  }
  .list {
    justify-content: center;
    align-items: center;
  }
  .info {
    width: 280px;
  }

  .teacherName {
    position: absolute;
    top: 24px;
    right: 16px;
    max-width: 140px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .card {
    flex-direction: column;
    padding: 24px;
    width: 720px;
  }
  .info {
    width: 670px;
  }

  .teacherName {
    position: absolute;
    top: 70px;
    left: 200px;
  }
  .list {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .card {
    flex-direction: row;
    width: 1184px;
    padding: 24px;
  }

  .info {
    width: 968px;
  }
}
